*#
*.iml
*.ipr
*.iws
*.sw?
*~
.#*
.*.md.html
.DS_Store
.classpath
.factorypath
.gradle
.idea
.metadata
.project
.recommenders
.settings
.springBeans
/build
/code
MANIFEST.MF
_site/
activemq-data
bin
build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
overridedb.*
settings.xml
target
transaction-logs
.flattened-pom.xml
.gradletasknamecache
.sts4-cache
*.jasper
.attach_*
*/.vscode
kubernetes/istio-*
.github/workflows/kubernetes/istio-*
docker/openshift.local.clusterup
off.yaml
lsp
jhipster-webapp
docker/*jaas.conf
python-service/app/app/camera.py
docker/test_result_springboot
docker/jmeter.log
docker/*.pem
docker/jmeter.log
docker/test_result_springboot
docker/quarkus.jwks
docker/openshift.local.clusterup

redis_auth_gateway
redis_auth_service
docker/jwks.json
access_token.json
docker/mongo_bkpk
*.log
Quick*.java
*.env
valid_token_google_oauth
*.java-version
quarkus-service/.java-version
input.json
docker/opentelemetry-javaagent.jar
docker/package*
docker/confluent*
docker/producer*
docker/schema-registry-values.yaml
docker/kafka-values.yaml
docker/schema.yml
qodana.yaml