spring:
    servlet:
        multipart:
            max-request-size: 50MB
            max-file-size: 50MB

    cloud:
        gateway:
            routes:
                - id: quarkus-service
                  uri: lb://quarkus-service
                  predicates:
                      - Path=/api/companies/**
                - id: quarkus-service-swagger
                  uri: lb://quarkus-service
                  predicates:
                      - Path=/swagger/quarkus-service/**
                  filters:
                      - RewritePath=/q/swagger-ui/(?<segment>.*), /$\{segment}
                - id: authentication-service
                  uri: lb://authentication-service
                  predicates:
                      - Path=/oauth/**,/api/account,/api/authenticatedUser,/api/authenticate,/api/logout,/api/refreshToken,/login/oauth2/**,/oauth2/**,/.well-known/jwks.json
                - id: authentication-service-swagger
                  uri: lb://authentication-service
                  predicates:
                      - Path=/swagger/authentication-service/**
                  filters:
                      - RewritePath=/authentication-service/(?<segment>.*), /$\{segment}
                - id: user-service
                  uri: lb://user-service
                  predicates:
                      - Path=/api/users/**
                - id: user-service-swagger
                  uri: lb://user-service
                  predicates:
                      - Path=/swagger/user-service/**
                  filters:
                      - RewritePath=/user-service/(?<segment>.*), /$\{segment}
                - id: person-service
                  uri: lb://person-service
                  predicates:
                      - Path=/api/people/**
                - id: person-service-swagger
                  uri: lb://person-service
                  predicates:
                      - Path=/swagger/person-service/**
                  filters:
                      - RewritePath=/person-service/(?<segment>.*), /$\{segment}
                - id: nodejs-service
                  uri: lb://week-menu-api
                  predicates:
                      - Path=/api/week-menu/**
                - id: kotlin-service
                  uri: lb://kotlin-service
                  predicates:
                      - Path=/api/tasks/**
                - id: kotlin-service-swagger
                  uri: lb://kotlin-service
                  predicates:
                      - Path=/swagger/kotlin-service/**
                  filters:
                      - RewritePath=/kotlin-service/(?<segment>.*), /$\{segment}
                - id: python-service
                  uri: lb://python-service
                  predicates:
                      - Path=/api/products/**,/api/receipts/**
                - id: kotlin-service-swagger
                  uri: lb://kotlin-service
                  predicates:
                      - Path=/swagger/python-service/**
                  filters:
                      - RewritePath=/python-service/(?<segment>.*), /$\{segment}
                - id: go-service
                  uri: lb://go-service
                  predicates:
                      - Path=/api/posts/**

zuul:
    ignoredServices: '*'
    ignored-headers: Access-Control-Allow-Credentials, Access-Control-Allow-Origin
    routes:
        users-service:
            path: /api/users/**
            serviceId: user-service
            stripPrefix: false
            sensitiveHeaders:
        users-account-service:
            path: /api/account
            serviceId: authentication-service
            stripPrefix: false
            sensitiveHeaders:
        swagger-users-account-service:
            path: /swagger/user-service/**
            serviceId: user-service
            swaggerUri: api-documentation
            stripPrefix: true
            sensitiveHeaders:
        person-service:
            path: /api/people/**
            serviceId: person-service
            stripPrefix: false
            sensitiveHeaders:
        swagger-person-service:
            path: /swagger/person-service/**
            serviceId: person-service
            swaggerUri: api-documentation
            stripPrefix: true
            sensitiveHeaders:
        authentication-service:
            path: /api/authenticate
            serviceId: authentication-service
            stripPrefix: false
            sensitiveHeaders:
        week-menu-api-service:
            path: /api/week-menu/**
            serviceId: week-menu-api
            stripPrefix: true
            sensitiveHeaders:
        logout-service:
            path: /api/logout
            serviceId: authentication-service
            stripPrefix: false
            sensitiveHeaders:
        authenticated-user-service:
            path: /api/authenticatedUser
            serviceId: authentication-service
            stripPrefix: false
            sensitiveHeaders:
        authenticated-refresh-token-service:
            path: /api/refreshToken
            serviceId: authentication-service
            stripPrefix: false
            sensitiveHeaders:
        task-service:
            path: /api/tasks/**
            serviceId: kotlin-service
            swaggerUri: api-documentation
            stripPrefix: false
            sensitiveHeaders:
        product-service:
            path: /api/products/**
            serviceId: python-service
            swaggerUri: api-documentation
            stripPrefix: false
            sensitiveHeaders:
        receipt-service:
            path: /api/receipts/**
            serviceId: python-service
            swaggerUri: api-documentation
            stripPrefix: false
            sensitiveHeaders:
        swagger-tasks-service:
            path: /swagger/kotlin-service/**
            serviceId: kotlin-service
            swaggerUri: api-documentation
            stripPrefix: true
            sensitiveHeaders:
        swagger-product-service:
            path: /swagger/python-service/**
            serviceId: python-service
            swaggerUri: api-documentation
            stripPrefix: true
            sensitiveHeaders:
        authenticated-oauth-service:
            path: /oauth2/**
            serviceId: authentication-service
            stripPrefix: false
            sensitiveHeaders:
        authenticated-login-oauth-service:
            path: /login/oauth2/**
            serviceId: authentication-service
            stripPrefix: false
            sensitiveHeaders:
        authenticated-jwks-service:
            path: /.well-known/jwks.json
            serviceId: authentication-service
            stripPrefix: false
            sensitiveHeaders:
        go-service:
            path: /api/posts/**
            serviceId: go-service
            swaggerUri: api-documentation
            stripPrefix: false
            sensitiveHeaders:
#        grafana-service:
#            path: /grafana/**
#            url: ${GRAFANA_URL:http://localhost:3000}
#            stripPrefix: false
#            sensitiveHeaders:
#        zipkin-service:
#            path: /zipkin
#            serviceId: zipkin-server
#            stripPrefix: false
#            sensitiveHeaders:
