flask==2.0.2
requests
flask_prometheus_metrics
flask-mongoengine
flask-jwt-extended[asymmetric_crypto]
flask-restx==0.5.1
flask_consulate
gunicorn
autologging
Flask-Opentracing
pyyaml
jaeger-client
pytesseract
iso4217parse
kubernetes
opencv-contrib-python
opencv-python
python-consul
wheel
pymongo[srv]
dnspython3
Werkzeug==2.0.2