flask
requests
flask_prometheus_metrics
flask_mongoengine
flask_jwt_extended
flask_restx
flask_consulate
gunicorn
autologging
Flask-Opentracing
pyyaml
jaeger-client
pytesseract
iso4217parse
kubernetes
opencv-contrib-python
opencv-python
python-consul
pytest