flask
requests
flask_prometheus_metrics
flask-mongoengine
flask-jwt-extended[asymmetric_crypto]
flask_restx
flask_consulate
gunicorn
autologging
Flask-Opentracing
pyyaml
jaeger-client
pytesseract
iso4217parse
kubernetes
opencv-contrib-python
opencv-python
python-consul
wheel
pymongo[srv]
dnspython3
Flask-Scaffold