apiVersion: v1
kind: Service
metadata:
  name: authentication-service
#  annotations:
#    cloud.google.com/app-protocols: '{"https-port":"HTTPS","http-port":"HTTP"}'
  labels:
    app: authentication-service
spec:
  ports:
#    - name: https-port
#      port: 8443
    - name: http-port
      port: 9999
  selector:
    app: authentication-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: authentication-service
spec:
  selector:
    matchLabels:
      app: authentication-service
  replicas: 1
  template:
    metadata:
      labels:
        app: authentication-service
        version: v1
    spec:
      containers:
        - name: authentication-service
          image: authentication-service:0.0.1-SNAPSHOT #fielcapao/microservices-design-patterns-authentication-service:latest #eu.gcr.io/api-project-646370370811/authentication-service #eu.gcr.io/api-project-646370370811/authentication-service:7f79c29fbc58052bb7d86bceeb7722b0185c66c4
          imagePullPolicy: Never
          resources:
            requests:
              memory: "256Mi"
            limits:
              memory: "512Mi"
          env:
            - name: JAVA_OPTS
              value: --enable-preview -Xss256K -Xms1M -XX:+UseSerialGC -Djava.compiler=none -XX:ReservedCodeCacheSize=2496k -XX:MaxDirectMemorySize=1M #-Xms256m -Xmx512m
            - name: SERVER_PORT
              value: "9999"
            - name: SPRING_PROFILES_ACTIVE
              value: dev,auth
            - name: SPRING_DATA_MONGODB_URI
              value: mongodb://mongodb:27017/docker
            - name: SPRING_DATA_MONGODB_DATABASE
              value: docker
            - name: SPRING_DATA_REDIS_HOST
              value: redis
            - name: SPRING_CLOUD_CONSUL_ENABLED
              value: "false"
            - name: OPENTRACING_JAEGER_ENABLED
              value: "false"
            - name: SPRING_CLOUD_KUBERNETES_CONFIG_NAMESPACE
              value: "default"
            - name: LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY
              value: trace
            - name: SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_ID
<<<<<<< HEAD
              value: ${CLIENT_ID}
            - name: SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_SECRET
              value: ${CLIENT_SECRET}
#            - name: CLIENT_SECRET
#              value: ${CLIENT_SECRET}
=======
              value: $CLIENT_ID
            - name: SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_SECRET
              value: $CLIENT_SECRET
>>>>>>> 960d258 (Fixed web app - implemented jdk 21 - build react-webapp)
            - name: MANAGEMENT_ENDPOINTS_WEB_CORS_ALLOW_CREDENTIALS
              value: "false"
#            - name: LOGGING_LEVEL_ORG_SPRINGFRAMEWORK
#              value: "trace"
            - name: COM_MICROSERVICE_AUTHENTICATION_REDIS_ENABLED
              value: "true"
#            - name: SPRING_SESSION_STORE_TYPE
#              value: "none"
            - name: SPRING_CLOUD_BOOTSTRAP_ENABLED
              value: "true"
            - name: COM_MICROSERVICE_AUTHENTICATION_JWT_KEY_VALUE
              value: YTMwOTIwODE1MGMzOGExM2E4NDc5ZjhjMmQwMTdkNDJlZWZkOTE0YTMwNWUxMTgxMTFhZTI1ZDI3M2QyMTRmMjI5Yzg0ODBjYTUxYjVkY2I5ZmY0YmRkMzBlZjRjNDM2Y2NiYzhlZjQ0ODRjMWZlNzVmZjdjM2JiMjdkMjdmMjk=
          ports:
            - containerPort: 9999
          livenessProbe:
            httpGet:
              scheme: HTTP
              path: /actuator/health/liveness
              port: 9999
            initialDelaySeconds: 1000
            periodSeconds: 5
          readinessProbe:
            httpGet:
              scheme: HTTP
              path: /actuator/health/readiness
              port: 9999
            initialDelaySeconds: 1000
            periodSeconds: 5
