apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: gateway
spec:
  selector:
    istio: ingressgateway # use istio default controller
  servers:
    - port:
        number: 80
        name: http
        protocol: HTTP
      hosts:
#        - "spendingbetter.com"
        - "*"
#      tls:
#        mode: SIMPLE
#        credentialName: "gateway-tls"
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: virtual-service-apps
spec:
  hosts:
    - "*"
#    - "spendingbetter.com"
  gateways:
    - gateway
  http:
    - match:
        - uri:
            prefix: /
      route:
        - destination:
            host: react-webapp
            port:
              number: 3003
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: grafana
spec:
  hosts:
    - "*"
  gateways:
    - gateway
  http:
    - match:
        - uri:
            prefix: /grafana
      route:
        - destination:
            host: grafana
            port:
              number: 3000
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: user-service
spec:
  hosts:
    - "*"
  gateways:
    - gateway
  http:
    - match:
        - uri:
            prefix: /api/users
      route:
        - destination:
            host: user-service
            port:
              number: 8083
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: person-service
spec:
  hosts:
    - "*"
  gateways:
    - gateway
  http:
    - match:
        - uri:
            prefix: /api/people
      route:
        - destination:
            host: person-service
            port:
              number: 8082
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: kotlin-service
spec:
  hosts:
    - "*"
  gateways:
    - gateway
  http:
    - match:
        - uri:
            prefix: /api/tasks
      route:
        - destination:
            host: kotlin-service
            port:
              number: 9092
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: authentication-service
spec:
  hosts:
    - "*"
  gateways:
    - gateway
  http:
    - match:
        - uri:
            prefix: /auth/(.*)
        - uri:
            prefix: /api/account
        - uri:
            prefix: /api/authenticate
        - uri:
            prefix: /api/authenticatedUser
        - uri:
            prefix: /api/logout
      route:
        - destination:
            host: authentication-service
            port:
              number: 9999
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: spring-boot
spec:
  hosts:
    - "*"
  gateways:
    - gateway
  http:
    - match:
        - uri:
            prefix: /api/companies
      route:
        - destination:
            host: spring-boot
            port:
              number: 8084
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: quarkus
spec:
  hosts:
    - "*"
  gateways:
    - gateway
  http:
    - match:
        - uri:
            prefix: /quarkus/api/companies
      rewrite:
        uri: /api/companies
      route:
        - destination:
            host: quarkus
            port:
              number: 8085
