# This is a basic workflow to help you get started with Actions

name: CI - Build and push Docker images - Quarkus Service

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    if: contains(toJson(github), 'build quarkus-service')
    name: Build Jar/Docker Image and Publish to DockerHub

    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v4

      # Set up JDK
      - name: JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '21'

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Login to Dockerhub
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Build Docker image
      - name: Build Service using docker:build
        run: |
          mvn clean package -DskipTests -q -pl quarkus-service -am -B -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn

      # Tag image
#      - name: Tag & publish to GitHub Container Registry
#        run: |
#          docker tag quarkus-service:0.0.1-SNAPSHOT fielcapao/microservices-design-patterns-quarkus-service:latest
#          docker push fielcapao/microservices-design-patterns-quarkus-service:latest

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./quarkus-service
          file: ./quarkus-service/src/main/docker/Dockerfile.jvm
          platforms: linux/amd64,linux/arm64
          push: true
          tags: fielcapao/microservices-design-patterns-quarkus-service:latest

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
